@import '../../src/layout.scss';

// colors
$color-blue: #e1e6f9;
$color-green: #e8f1f0;
$color3: #f7e1f5;

// dimension
$header-height: 60px;
$header-text-color: #cbbde2;
$header-text-active-color: #fff;
$footer-height: 50px;

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2000;
  top: 0;
  background-color: #563d7c;
  width: 100%;
  line-height: $header-height;
  color: $header-text-color;
}

.header__text {
  color: $header-text-color;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-item__link {
  display: block;
  padding: 0 20px;

  &:hover {
    color: $header-text-active-color;
    cursor: pointer;
  }

  &--active {
    color: $header-text-active-color;
  }
}

.main {
  margin-top: $header-height;
  margin-bottom: $footer-height;
}

.part {
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.part__item {
  margin-bottom: 30px;
}

.basic-row {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.block--blue {
  background-color: $color-blue;
}

.block--green {
  background-color: $color-green;
}

.block--padding {
  padding: 0 5%;
}

.block--first {
  padding-left: 0;
}

.block--last {
  padding-right: 0;
}

