@import '../../src/layout.scss';

// colors
$color1: #e1e6f9;
$color2: #e8f1f0;
$color3: #f7e1f5;

// dimension
$header-height: 60px;

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  box-sizing: border-box;
  margin: auto;
  width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #d1d5da;
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  background-color: #fff;
  width: 100%;
  line-height: $header-height;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  color: #888;
}

.menu-item {
  display: inline-block;
}

.menu-item__link {
  display: block;
  padding: 0 20px;

  &:hover {
    color: #333;
    cursor: pointer;
  }

  &--active {
    color: #333;
  }
}

.main {
  margin-top: $header-height;
}

.title {
  width: 100%;
  text-align: center;
}

.basic-row {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.basic-row > div {
	height: 30px;
}

.block--blue {
  background-color: $color1;
}

.block--red {
  background-color: $color2;
}

