// colors
$color1: #e1e6f9;
$color2: #e8f1f0;

html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.title {
  text-align: center;
}

.basic-row {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.basic-row > div {
	height: 30px;
}

.block--blue {
  background-color: $color1;
}

.block--red {
  background-color: $color2;
}

