.basic-row {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.basic-row > div {
	height: 30px;
}

.block--blue {
  background-color: blue;
}

.block--red {
  background-color: red;
}
