@import 'normalize.scss';
@import '../../src/layout.scss';

// colors
$color-blue: #e1e6f9;
$color-green: #e8f1f0;
$color3: #f7e1f5;

// dimension
$header-height: 60px;
$header-text-color: #cbbde2;
$header-text-active-color: #fff;
$footer-height: 50px;
$demo-bg-color: #f7f7f9;

html {
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2000;
  top: 0;
  background-color: #563d7c;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  line-height: $header-height;
  color: $header-text-color;
}

.header__text {
  color: $header-text-color;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
}

.menu-item__link {
  display: block;
  padding: 0 15px;

  &:hover {
    color: $header-text-active-color;
    cursor: pointer;
  }

  &--active {
    color: $header-text-active-color;
  }
}

.main {
  margin-top: $header-height;
  margin-bottom: $footer-height;
}

.part {
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.demo {
  margin-top: 30px;
  border: 0.2rem solid $demo-bg-color;
}

.demo__view {
  border-bottom: 0.2rem solid $demo-bg-color;
  padding: 15px;
}

.demo__code {
  margin: 0;
  background-color: $demo-bg-color;
}

.basic-row {
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
}

.block--blue {
  background-color: $color-blue;
}

.block--green {
  background-color: $color-green;
}

.block--gutter {
  padding: 0 5%;
}

.block--first {
  padding-left: 0;
}

.block--last {
  padding-right: 0;
}

.block--bordered {
  border: 1px solid #ccc;
}
