/*
 * @file layout-var.scss
 * @author Chockie Zhu
 * @desc Define sass variables for layout
 */

// the column number in the grid system
$grid-num: 24 !default;

// media breakpoints
$xs: 0;
$sm: 768px !default;
$md: 992px !default;
$lg: 1264px !default;
$xl: 1580px !default;

$min-unit: 1px;

// grid system spec
$grid-specs: (
  "xs": (min-width: $xs),
  "sm": (min-width: $sm),
  "md": (min-width: $md),
  "lg": (min-width: $lg),
  "xl": (min-width: $xl)
) !default;

// container padding
$container-padding: 20px !default;

// container max-width spec
$container-max-width-specs: (
  "sm": 740px,
  "md": 960px,
  "lg": 1180px,
  "xl": 1480px
) !default;

$hidden-specs: (
  "xs-only": (max-width: $sm - $min-unit),
  "sm-only": (min-width: $sm) and (max-width: $md - $min-unit),
  "sm-down": (max-width: $md - $min-unit),
  "sm-up": (min-width: $sm),
  "md-only": (min-width: $md) and (max-width: $lg - $min-unit),
  "md-down": (max-width: $lg - $min-unit),
  "md-up": (min-width: $md),
  "lg-only": (min-width: $lg) and (max-width: $xl - $min-unit),
  "lg-down": (max-width: $xl - $min-unit),
  "lg-up": (min-width: $lg),
  "xl-only": (min-width: $xl)
) !default;

$space-type: (
  m: margin,
  p: padding
) !default;

$space-values: auto 0 2 5 10 15 20 25 30 40 50 !default;
