/*
 * @file layout-var.scss
 * @author Chockie Zhu
 * @desc Define sass variables for layout
 */

// the column number in the grid system
$col-num: 24 !default;

// media breakpoints
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1900px !default;

// grid system spec
$grid-specs: (
  "sm": (min-width: $sm),
  "md": (min-width: $md),
  "lg": (min-width: $lg),
  "xl": (min-width: $xl)
) !default;

// container padding
$container-padding: 15px !default;

// container max-width spec
$container-max-width-specs: (
  "sm": 740px,
  "md": 960px,
  "lg": 1140px,
  "xl": 1840px
) !default;

$hidden-specs: (
  "xs-only": (max-width: $sm - 1px),
  "sm-only": (min-width: $sm) and (max-width: $md - 1px),
  "sm-down": (max-width: $md - 1px),
  "sm-up": (min-width: $sm),
  "md-only": (min-width: $md) and (max-width: $lg - 1px),
  "md-down": (max-width: $lg - 1px),
  "md-up": (min-width: $md),
  "lg-only": (min-width: $lg) and (max-width: $xl - 1px),
  "lg-down": (max-width: $xl - 1px),
  "lg-up": (min-width: $lg),
  "xl-only": (min-width: $xl)
) !default;

$space-values: 1 2 3 4 5 6 8 10 12 14 15 16 18 20 25 30 40 50;
