/*
 * @file layout-mixins.scss
 * @author Chockie Zhu
 * @desc Sass mixins for layout
 */
@import "./layout-vars.scss";

// media query
@mixin respondTo ($media-label, $media-specs: $grid-specs) {
  @if map-has-key($media-specs, $media-label) {
    @media #{map-get($media-specs, $media-label)} {
      @content;
    }
  }
}

@mixin make-container () {
  margin-left: auto;
  margin-right: auto;
  @if $container-padding > 0 {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
  width: 100%;
}

@mixin set-container-max-width () {
  @each $media-label, $max-width in $container-max-width-specs {
    @include respondTo($media-label) {
      max-width: $max-width;
    }
  }
}

@mixin make-grid () {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }

  .row.reverse {
    flex-direction: row-reverse;
  }

  .column.reverse {
    flex-direction: column-reverse;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .no-wrap {
    flex-wrap: nowrap;
  }

  .justify-content-start {
    justify-content: flex-start;
  }

  .justify-content-center {
    justify-content: center;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .align-items-start {
    align-items: flex-start;
  }

  .align-items-center {
    align-items: center;
  }

  .align-items-end {
    align-items: flex-end;
  }

  .align-self-start {
    align-self: flex-start;
  }

  .align-self-center {
    align-self: center;
  }

  .align-self-end {
    align-self: flex-end;
  }

  @each $label, $media in $grid-specs {
    @include respondTo ($label) {
      // flex grid
      .#{$label} {
        flex: 1 1 0;
        max-width: 100%;
      }

      // auto-fit grid
      .#{$label}-fit {
        flex: 0 0 auto;
        max-width: 100%;
      }

      // fix-length grid in percentage
      @for $i from 1 through $grid-num {
        .#{$label}-#{$i} {
          flex: 0 0 $i / ($grid-num) * 100%;
          max-width: $i / ($grid-num) * 100%;
        }

        .offset-#{$label}-#{$i} {
          margin-left: $i / ($grid-num) * 100%;
        }
      }

      // reset offset for Arabic symmetric website
      @for $i from 1 through $grid-num {
        .offset-ar-#{$label}-#{$i} {
          margin-left: 0;
          margin-right: $i / ($grid-num) * 100%;
        }
      }
    }
  }
}

@mixin make-hidden () {
  .hidden {
    display: none;

    @each $modifier, $media in $hidden-specs {
      @include respondTo($modifier, $hidden-specs) {
        &-#{$modifier} {
          display: none;
        }
      }
    }
  }
}

@mixin make-overflow () {
  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .overflow-y-hidden {
    overflow-y: hidden;
  }
}

@mixin make-margin-padding {
  @each $label, $breakpoint in $grid-specs {
    @include respondTo($label) {
      @each $type, $property in $space-type {
        @each $value in $space-values {
          $name: $value;
          $spaceValue: $value;
          @if $value == 'auto' {
            $spaceValue: #{$value};
          } @else {
            $spaceValue: #{$value}px;
          }

          .#{$type}t-#{$label}-#{$name}, .#{$type}y-#{$label}-#{$name}, .#{$type}a-#{$label}-#{$name} {
            #{$property}-top: $spaceValue;
          }

          .#{$type}b-#{$label}-#{$name}, .#{$type}y-#{$label}-#{$name}, .#{$type}a-#{$label}-#{$name} {
            #{$property}-bottom: $spaceValue;
          }

          .#{$type}l-#{$label}-#{$name}, .#{$type}x-#{$label}-#{$name}, .#{$type}a-#{$label}-#{$name} {
            #{$property}-left: $spaceValue;
          }

          .#{$type}r-#{$label}-#{$name}, .#{$type}x-#{$label}-#{$name}, .#{$type}a-#{$label}-#{$name} {
            #{$property}-right: $spaceValue;
          }

          @if $type == 'm' and $value != 'auto' and $value != 0 {
            .#{$type}x-#{$label}-n#{$name} {
              #{$property}-left: -#{$spaceValue};
              #{$property}-right: -#{$spaceValue};
            }
          }
        }
      }
    }
  }
}
